/* Sprint Overview */
.aui-page-panel {
    background: #3a4353;
}

#gh:not(.ghx-sticky-sprint-headers-disabled) .ghx-backlog-container .ghx-backlog-header {
    background: #4C566A;
}

.ghx-backlog-container {
    background-color: #4C566A;
}

#ghx-backlog-column {
    border-left: 2px solid #3B4252;
}

#ghx-operations {
    border-bottom: 2px solid #3B4252;
}

.aui-button, .aui-button:visited, a.aui-button {
    color: #E5E9F0;
}

#ghx-header h1, #ghx-header h2 {
    color: #E5E9F0;
}

a, a:visited, a:focus, a:hover, a:active, a.blogHeading {
    color: #88C0D0 !important;
}

.ghx-backlog-header .ghx-name {
    color: #D8DEE9;
}

.ghx-backlog-container .ghx-issue-count {
    color: #E5E9F0;
}

.ghx-sprint-info {
    color: #E5E9F0;
}

.aui-lozenge-success {
    background-color: #A3BE8C;
    border-color: #A3BE8C;
    color: #E5E9F0;
}

aui-badge, .aui-badge {
    color: #D8DEE9;
    background: #c86f27;
    font-weight: 600;
}

aui-badge.ghx-in-progress, .aui-badge.ghx-in-progress, aui-badge.jira-badge__primary, .aui-badge.jira-badge__primary {
    color: #D8DEE9;
    background: #1875bc;
}

aui-badge.ghx-done, .aui-badge.ghx-done, aui-badge.scheduler-success, .aui-badge.scheduler-success {
    color: #D8DEE9;
    background: #05a093;
}

.aui-button-link {
    color: #88C0D0 !important;
}

a, a:visited, a:focus, a:hover, a:active, a.blogHeading {
    color: #88C0D0 !important;
}

body {
    color: #E5E9F0;
}

h1, h2, h3, h4, .wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .pagetitle, .steptitle, .substeptitle, .formtitle, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight > p, table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh > p, .wiki-content .tablesorter-header-inner, table.admin th, .form-element-large, .form-element-small, #toolbar #format-dropdown .format-h1 a, #toolbar #format-dropdown .format-h2 a, #toolbar #format-dropdown .format-h3 a, #toolbar #format-dropdown .format-h4 a {
    color: #ffffff;
}

.ghx-issue-compact.ghx-selected, .ghx-issue-compact .ghx-selected-group {
    background: #2E3440;
}

.ghx-issue-compact {
    background: #2E3440;
    color: #D8DEE9;
}

.ghx-issue-compact .ghx-estimate {
    background: #2E3440;
}

.ghx-issue-compact.ghx-selected .ghx-end {
    background: #2E3440;
}

.ghx-issue-compact:hover {
    background: #4a4f58;
}

.ghx-issue-compact:hover .ghx-end, .ghx-issue-compact.ghx-selected:hover .ghx-end, .ghx-issue-compact.ghx-flagged:hover .ghx-end, .ghx-issue-compact.ghx-flagged.ghx-selected:hover .ghx-end {
    background: #4a4f58;
}

.ghx-issue-compact.ghx-selected:hover, .ghx-issue-compact .ghx-selected-group:hover {
    background: #4a4f58;
}

.ghx-issue-compact.ghx-selected .ghx-end:hover {
    background: #63809d;
}

.ghx-issue-compact.ghx-selected .ghx-end:hover {
    background: #63809d;
}

/* Story(Issue) Page */
#issue-content {
    background-color: #3a4353;
}

.issue-view>.issue-container .issue-header {
    background-color: #3a4353;
}

h1, h2, h3, h4, .wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .pagetitle, .steptitle, .substeptitle, .formtitle, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight > p, table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh > p, .wiki-content .tablesorter-header-inner, table.admin th, .form-element-large, .form-element-small, #toolbar #format-dropdown .format-h1 a, #toolbar #format-dropdown .format-h2 a, #toolbar #format-dropdown .format-h3 a, #toolbar #format-dropdown .format-h4 a {
    color: #D8DEE9;
}

.issue-body-content .module>.mod-header>h1, .issue-body-content .module>.mod-header>h2, .issue-body-content .module>.mod-header>h3, .issue-body-content .module>.mod-header>h4, .issue-body-content .module>.mod-header>h5, .issue-body-content .module>.mod-header>h6 {
    background-color: #3a4353;
}

.aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #0a756c;
    border-color: #0a756c;
    color: #E5E9F0;
}

.aui-button .aui-icon, .aui-button:hover .aui-icon {
    color: #88C0D0;
}

.property-list .item .name {
    color: #D8DEE9;
}

.aui-sidebar .aui-sidebar-wrapper {
    border-color: #4C566A;
    background-color: #4C566A;
}

.aui-sidebar .aui-sidebar-footer {
    border-top: 1px solid #4C566A;
}

.aui-sidebar-submenu .aui-nav>li>.aui-nav-item>.aui-icon, .aui-sidebar .aui-nav>li>.aui-nav-item>.aui-icon {
    color: #88C0D0;
}

body:not(.specificity-inc):not(.specificity-inc):not(.specificity-inc) .wiki-edit-content textarea.wiki-textfield, body:not(.specificity-inc):not(.specificity-inc):not(.specificity-inc) .wiki-edit-content textarea.wiki-textfield:hover, body:not(.specificity-inc):not(.specificity-inc):not(.specificity-inc) .wiki-edit-content textarea.wiki-textfield:focus, body:not(.specificity-inc):not(.specificity-inc):not(.specificity-inc) .wiki-edit-content textarea.wiki-textfield:active {
    background: #3a4353;
    border: 1px #4C566A solid;
    color: #E5E9F0;
}

.editable-field:hover {
    background-color: #535963;
}

.editable-field:hover, .editable-field.saving {
    box-shadow: 0 0 0 1px #4C566A;
}

.editable-field .overlay-icon {
    border-left: 1px solid #4C566A;
}

th.confluenceTh {
    border: 1px solid #5d626d;
    background: #2E3440;
}

td.confluenceTd {
    border: 1px solid #5d626d;
}

.editable-field .save-options {
    background-color: #4C566A;
    border: 1px solid #4C566A;
    border-radius: 0 0 0px 0px;
}

.wiki-edit-toolbar {
    border: 1px solid #4C566A;
    background-color: #4C566A;
    border-radius: 0px 0px 0 0;
}

.issue-data-block:hover, .issue-data-block.focused {
    background-color: #4C566A;
    border-left: 5px solid #4C566A;
}

.activity-name {
    color: #D8DEE9;
}

#header .aui-header {
    /* background: url(/jira/s/j8e1qj/805004/b6b48b2…/1.0.20/_/download/resources/ag.em.plugin.daimler-styling-plugin:resources/images/img_header_brushed_bg_md.jpg) !important; */
    background: #333b48 !important;
}

.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink, #header .aui-header a {
    color: #88C0D0 !important;
}

.aui-header .aui-dropdown2-trigger:hover, .aui-header .aui-dropdown2-trigger.active, #header .aui-header .aui-nav-link.active, #header .aui-header .aui-nav-imagelink.active, #header .aui-header .aui-nav-imagelink:focus, #header .aui-header .aui-nav-imagelink:hover, #header .aui-header a:focus, #header .aui-header a:hover, #header .aui-header a:active {
    background-color: #4C566A !important;
    border-color: #4C566A !important;
    color: #88C0D0 !important;
}

::-webkit-scrollbar-thumb {
    background: #B48EAD;
}